div.navbar.navbar-default.navbar-fixed-top {
	background-color: #ff5722;
	box-shadow: 0px 3px 2px rgba(43, 59, 93, 0.29);
	border-bottom-width: 0px;
}
.navbar-default .navbar-brand{
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    cursor: pointer;
}

.navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #e64a19;

}
.navbar-collapse{
    border-top-width: 0px;
}


.navbar .navbar-toggle,.navbar .navbar-toggle:hover {
    background-color: #E64A19;
    border-width: 0px;
    border-radius: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}