div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')
.lobby-container
  header#banner.hero-unit
    .container
      .title
        p.lead SKETCH-IT! Demo
      .players
        p {{numUsers}}
  .container
    .lobby-form
      |<strong>WELCOME TO SKETCH-IT!</strong>

    form.lobby-form(ng-submit='createLobby(lobbyform)' name='lobbyform')
      label(style='center') LOBBY
      p.input-group
        label Name
        input.form-control(type='text' name='lobbyName' placeholder='Name' ng-model='lobbyName' ng-maxlength='18' required)
        input.form-control(type='number' name='lobbyPlayerNum' placeholder='Players(Max 8)' ng-model='lobbyPlayerNum' ng-pattern='/^[3-8]+$/' ng-maxlength='1' required)
        input.form-control(type='text' placeholder='Code' ng-model='code')
        .input-group-btn
          button.btn.btn-primary(type='submit') Create Lobby
        p.error(ng-show='((lobbyform.lobbyPlayerNum.$error.pattern||lobbyform.lobbyPlayerNum.$error.maxlength))') Invalid Player Number
        p.error(ng-show='(lobbyform.lobbyName.$error.maxlength)') Shorter Lobby Name
        p.error {{errors.other}}
    //- .input-group-btn
    //-  button.btn.btn-primary(ng-click='findLobby()') Find Lobby


//- footer.footer
//-   .container
//-     p
      //- | Angular Fullstack v2.0.13
      //- = ' | '
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues