div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
      p.lead PokeDraw Demo

.container
  


  form.lobby-form
    label LOBBY
    p.input-group
      input.form-control(type='text', placeholder='Name', ng-model='lobbyName' required)
      input.form-control(type='text', placeholder='Players(Max 4)', ng-model='lobbyPlayerNum' required)
      input.form-control(type='text', placeholder='Code', ng-model='code' required)
      .input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addLobby()') Create Lobby

footer.footer
  .container
    p
      //- | Angular Fullstack v2.0.13
      //- = ' | '
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues