.lobby-form {
    padding: 40px 30px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(43, 59, 93, 0.29);

}




.title{
    margin-top: 12px;
    position:relative;
    float:left;
}

.players{
    font-weight: 200;
    font-size: 18px;
    margin-top: 12px;
    position:relative;
    float:right;
}


p.input-group input.form-control{
    margin-bottom: 50px;
    border-radius: 2px;

}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 0px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #ff5722;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}