.rightbar{
	background-color: #333333;
	color:#fff;
	position:fixed;
	overflow-y: auto;
	top:48px;
	right:0px;
	z-index: 1000;
	width:200px;
	height:100%;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
	border-radius: 2px;
}

.searchbox{
	background-color: #1A1A1A;
	border-radius: 12px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #999;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #999;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 2px;
	color: #999;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	height: 24px;
	line-height: 15px;
	padding-left: 26px;
	margin-left:10px;
	margin-bottom: 10px;
	text-rendering: optimizelegibility;
/*	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);*/
	width: 180px;

}

.glyphicon.glyphicon-exclamation-sign{
	position:relative;
}


.listItemTitle{
	position:absolute;
	top:5px;
	left:10px;
	/*clear:left;*/
}
.listItemPlayers{
	position:absolute;
	top:5px;
	right:10px;
	/*clear:right;*/
}



.list-group-item:first-child {
	height:102px;
	border-radius:0px;
	border-top-width: 3px;
}

.list-group-item:last-child{
	border-radius: :0px;
}


.list-group-item{
	background-color: #333333;
	color:#fff;
	min-height: 100px;
	border-color: #4C4C4C;
	padding:0;
	border-left-width:0px;
	border-left-color: red;
	border-right:0px;
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
}

.list-group-item:hover{
	color: rgba(255, 255, 255, .2);
}

.fadeIn{
	text-shadow: 0 0 0px #fff;
	text-align: center;
	padding-top: 30px;
	color: rgba(255, 255, 255, 1);
}

.fadeOut{
	text-align: center;
	padding-top: 30px;
	color: rgba(255, 255, 255, 0);
}

.playerName{
	position: absolute;
	padding-top: 5px;
	text-align: center;
	width: 100%;

}


.listItemContainer{
	position: absolute;
	width: 100%;
	height: 100%;
}
.container{
	width:100%;
}

/*.roomStatus{

	height:100px;
	width:3px;
	position:absolute;
}*/
.roomStatus{

	height:98px;
	width:3px;
	position:absolute;
}

.roomState{
	right:0px;
	width:3px;
	height:98px;
	position:absolute;
}


.admin{
	/*text-shadow: 0 0 10px #1565c0;*/
	/*color:#1565c0;*/
	background-color: #9C27B0;
	right:0px;
	width:3px;
	height:98px;
	position:absolute;
}




