div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')

.container
	.game-container
		.lobby-title
			|{{lobby.name}}
	
//- ul.list-group
//- 	li.list-group-item(ng-repeat="player in players")
//- 		{{player.userName}}
		
//- button.btn.btn-primary(ng-click='playerReady()') Other