.game-container{
    width: -moz-calc(95% - 200px);
    width: -webkit-calc(95% - 200px);
    width: calc(95% - 200px);
    height:83%;
    position: absolute;
    box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
    border-radius: 8px;
    background-color: #fff;
}

.container{
	
}

.lobby-title{
	position:absolute;
	left: 40px;
	top: 10px;
	font-size: 30px;
}

.ready{
	position: absolute;
	padding:5px 50px;
	text-transform: none;
	font-size: 30px;
	color:#fff;
	left:40px;
	bottom:5%;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
	border-radius: 2px;
	background-color: #8BC34A;
	border: 0px none #CCC;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	-moz-user-select: none;
}

.messages{
	
	border-left: 2px solid #DDD;
	position:absolute;
	/*border: 3px solid #DDD;*/
	right:0px;
	height:100%;
   	width: -moz-calc(10% + 150px);
    width: -webkit-calc(10% + 150px);
    width: calc(10% + 150px);
}

.messages-title{
	font-size: 18px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom: 8px;
	border-bottom: 1px solid #DDD;
}

#messages-chat{
	height: -moz-calc(100% - 105px);
    height: -webkit-calc(100% - 105px);
    height: calc(100% - 105px);
	font-size: 14px;
	padding-left:15px;
	padding-right: 15px;
	padding-top:10px;
	padding-bottom: 8px;
	list-style-type: none;
	overflow-y: auto;
	word-wrap: break-word;


}
#messages-chat li{
	padding-bottom: 5px;
}

form#chat{
	background-color: #EAEAEA;
	height:50px;
	border-bottom-right-radius: 4px;
}

textarea#userMsg{
	width: 94%;
	height:40px;
	margin-top: 5px;
	margin-left: 2%;
	border-radius: 4px;
	padding-left: 15px;
	-moz-user-select: none;
	border: 1px solid #EAEAEA;
	resize:none;
	overflow: hidden;
}

#draw-game{
	position: absolute;
	width: -moz-calc(90% - 150px);
    width: -webkit-calc(90% - 150px);
    width: calc(90% - 150px);
    height: 100%;
}
#timer{
	position:absolute;
	/*right: -moz-calc(10% + 150px);
    right: -webkit-calc(10% + 150px);
    right: calc(10% + 150px);*/
    top:0px;
    right:0px;
}

#draw{
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	width: 80%;
	height:100%;
	z-index: 1000;
	position: absolute;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
}

