div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')
//- script(type="text/paperscript", src="'components/js/draw.js'", canvas="draw")


//- canvas#draw(resize="true")


.container
	.game-container
		.lobby-title(ng-show='state===0')
			|{{lobby.name}}
		#draw-game(ng-show='state===1')
			#timer
				{{timeLeft}}
			canvas#draw
		#colors
			#colorBox(ng-repeat="Color in Colors" ng-show='state===1')
				#color(ng-style="{'background-color':Color.colorHex}")
		button.ready(ng-click='playerReady()' ng-show='state===0')
			|{{Ready}}
		.messages
			.messages-title
				|Chat
			ul#messages-chat
			form#chat(action="")
				textarea#userMsg(placeholder='Message...')

//- ul.list-group
//- 	li.list-group-item(ng-repeat="player in players")
//- 		{{player.userName}}
		
//- button.btn.btn-primary(ng-click='playerReady()') Other