div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')
//- script(type="text/paperscript", src="'components/js/draw.js'", canvas="draw")


//- canvas#draw(resize="true")


.container
	.game-container
		.lobby-title(ng-show='state===0')
			|{{lobby.name}}
		#draw-game(ng-show='state===1')
			#timer
				{{timeLeft}}
			canvas#draw(ng-show='playerStatus===2')
		#colors(ng-show='playerStatus===2')
			#colorBox(ng-repeat="Color in Colors" ng-show='state===1')
				.color(ng-class="{ 'colorActive': $index === selectedIndex }" ng-style="{'background-color':Color.colorHex}" ng-click='switchColor(Color.colorHex,$index)')
		button.ready(ng-click='playerReady()' ng-show='state===0')
			|{{Ready}}
		div(ng-show='state===2')
			#draw-game
				#canvasContainer
					#canvasInner
						canvas#canvas1.canv
						canvas#canvas2.canv(ng-show='usersInGame.length>1')
						canvas#canvas3.canv(ng-show='usersInGame.length>2')

		.messages
			.messages-title
				|Chat
			ul#messages-chat
			form#chat(action="")
				textarea#userMsg(placeholder='Message...')

//- ul.list-group
//- 	li.list-group-item(ng-repeat="player in players")
//- 		{{player.userName}}
		
//- button.btn.btn-primary(ng-click='playerReady()') Other