div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')

.container
	.game-container
		.lobby-title(ng-show='state===0')
			|{{lobby.name}}
		#draw-game(ng-show='state===1')
			|OMG DRAW
			#timer
				|45



		button.ready(ng-click='playerReady()' ng-show='state===0')
			|{{Ready}}
		.messages
			.messages-title
				|Chat
			ul#messages-chat
			form#chat(action="")
				textarea#userMsg(placeholder='Message...')

//- ul.list-group
//- 	li.list-group-item(ng-repeat="player in players")
//- 		{{player.userName}}
		
//- button.btn.btn-primary(ng-click='playerReady()') Other