.game-container{
	width: -moz-calc(95% - 200px);
	width: -webkit-calc(95% - 200px);
	width: calc(95% - 200px);
	height:83%;
	position: absolute;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
	border-radius: 8px;
	background-color: #fff;
}

.container{
	
}

.lobby-title{
	position:absolute;
	left: 40px;
	top: 10px;
	font-size: 30px;
}

.ready{
	position: absolute;
	padding:5px 50px;
	text-transform: none;
	font-size: 30px;
	color:#fff;
	left:40px;
	bottom:5%;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
	border-radius: 2px;
	background-color: #8BC34A;
	border: 0px none #CCC;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	-moz-user-select: none;
}

.ready:active{
	box-shadow: 0px 0px 0px rgba(43, 59, 93, 0.29);
}


.messages{
	
	border-left: 2px solid #DDD;
	position:absolute;
	/*border: 3px solid #DDD;*/
	right:0px;
	/*height:100%;*/
	width: -moz-calc(10% + 150px);
	width: -webkit-calc(10% + 150px);
	width: calc(10% + 150px);
}

.messages-title{
	font-size: 18px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom: 8px;
	border-bottom: 1px solid #DDD;
}

#messages-chat{
	font-size: 14px;
	padding-left:15px;
	padding-right: 15px;
	padding-top:10px;
	list-style-type: none;
	overflow-y: auto;
	word-wrap: break-word;
}
#messages-chat li{
	padding-bottom: 5px;
}

form#chat{
	background-color: #EAEAEA;
	height:50px;
	border-bottom-right-radius: 4px;
	bottom:0px;
}

textarea#userMsg{
	width: 94%;
	height:40px;
	margin-top: 5px;
	margin-left: 2%;
	border-radius: 4px;
	padding-left: 15px;
	-moz-user-select: none;
	border: 1px solid #EAEAEA;
	resize:none;
	overflow: hidden;
}
#canvas11{
	position:absolute;
	left: 5%;
	width: 90%;
	height: 90%;
}

@media (min-width: 330px) {

	textarea#userMsg{
		height:20px;
	}

	#draw{
		border-bottom: 1px solid #DDD;
	}

	.messages{
		border-top: 1px solid #DDD;
		bottom:0px;
		height:120px;
	}

	.messages-title{
		display: none;
	}
	#messages-chat{
		height:85px;
		margin-bottom: 0px;
	}

	form#chat{
		margin-top: 5px;
		height:30px;
	}

	#draw-game{
		position: absolute;
		/*width: -moz-calc(90% - 150px);
		width: -webkit-calc(90% - 150px);
		width: calc(90% - 150px);*/
		width: 100%;
		height: -moz-calc(100% - 120px);
		height: -webkit-calc(100% - 120px);
		height: calc(100% - 120px);
	}
	#colors{
		position: absolute;
		bottom: 0px;
		width: -moz-calc(90% - 150px);
		width: -webkit-calc(90% - 150px);
		width: calc(90% - 150px);
		height:120px;
	}


	#colorBox{
		box-sizing:content-box;
		position: relative;
		width: 20%;
		height: 50%;
		display: inline-block;
	}
	#colorBox:nth-child(n+6){
		margin-top:-5px;
	}


	#colorBox:nth-child(6){
		border-bottom-left-radius: 8px;
	}

	#color{
		border-bottom-left-radius: inherit;
		box-sizing:content-box;
		width: 100%;
		height: 100%;
	}

}


@media (min-width: 1000px) {

	textarea#userMsg{
		height:40px;
	}
	.messages{
		height:100%;
	}

	.messages-title{
		display: block;
		font-size: 18px;
		padding-left:20px;
		padding-top:10px;
		padding-bottom: 8px;
		border-bottom: 1px solid #DDD;
	}
	#messages-chat{
		height: -moz-calc(100% - 105px);
		height: -webkit-calc(100% - 105px);
		height: calc(100% - 105px);
		padding-bottom: 8px;
		margin-bottom: 10px;
	}

	form#chat{
		height:50px;
	}

	#draw-game{
		position: absolute;
		width: -moz-calc(90% - 150px);
		width: -webkit-calc(90% - 150px);
		width: calc(90% - 150px);
		height: -moz-calc(100% - 60px);
		height: -webkit-calc(100% - 60px);
		height: calc(100% - 60px);
	}
	#colors{
		position: absolute;
		bottom: 0px;
		width: -moz-calc(90% - 150px);
		width: -webkit-calc(90% - 150px);
		width: calc(90% - 150px);
		height: 60px;
	}
	#colorBox{
		position: relative;
		width: 10%;
		height: 100%;
		display: inline-block;
	}

	#colorBox:first-child{
		border-bottom-left-radius: 8px;
	}

	#colorBox:nth-child(6){
		border-bottom-left-radius: 0px;
	}

	.color{
		border-bottom-left-radius: inherit;
		width: 100%;
		height: 100%;
		box-shadow: 0px 10px 8px rgba(43, 59, 93, 0.29);
	}
	.colorActive{
		box-shadow: 0px 1px 1px rgba(43, 59, 93, 0.29);
	}

	#draw-game canvas{
		box-shadow: 0px 1px 1px rgba(43, 59, 93, 0.29);
	}

	#canvas21{
		position: absolute;
		width: 50%;
		/*height: 100%;*/
	}
	#canvas22{
		position: absolute;
		left:50%;
		width: 50%;
		/*height: 100%;*/
	}
	#canvas31{
		position: absolute;
		width: 30%;
		/*height: 100%;*/
	}
	#canvas32{
		position: absolute;
		left:33%;
		width: 30%;
		/*height: 100%;*/
	}
	#canvas33{
		position: absolute;
		left:67%;
		width: 30%;
		/*height: 100%;*/
	}
}




#timer{
	position:absolute;
	font-size:20px;
    top:5px;
    right:10px;
}



#draw{
	/*border-bottom-left-radius: 8px;*/
	border-top-left-radius: 8px;
	z-index: 1000;
	position: absolute;
	box-shadow: 0px 2px 2px rgba(43, 59, 93, 0.29);
}

