div(ng-include='"components/navbar/navbar.html"')
div(ng-include='"components/rightbar/rightbar.html"')
//- script(type="text/paperscript", src="'components/js/draw.js'", canvas="draw")


//- canvas#draw(resize="true")


.container
	.game-container
		.lobby-title(ng-show='state===0')
			|{{lobby.name}}
		#draw-game(ng-show='state===1')
			#timer
				{{timeLeft}}
			canvas#draw(ng-show='playerStatus===2')
		#colors(ng-show='playerStatus===2')
			#colorBox(ng-repeat="Color in Colors" ng-show='state===1')
				.color(ng-class="{ 'colorActive': $index === selectedIndex }" ng-style="{'background-color':Color.colorHex}" ng-click='switchColor(Color.colorHex,$index)')
		button.ready(ng-click='playerReady()' ng-show='state===0')
			|{{Ready}}
		.player1(ng-show='state===2&&usersInGame.length===1' ng-class='playerActive1')
			canvas#canvas11
		.player2(ng-show='state===2&&usersInGame.length===2' ng-class='playerActive2')
			canvas#canvas21
			canvas#canvas22
		.player3(ng-show='state===2&&usersInGame.length===3' ng-class='playerActive3')
			canvas#canvas31
			canvas#canvas32
			canvas#canvas33


		.messages
			.messages-title
				|Chat
			ul#messages-chat
			form#chat(action="")
				textarea#userMsg(placeholder='Message...')

//- ul.list-group
//- 	li.list-group-item(ng-repeat="player in players")
//- 		{{player.userName}}
		
//- button.btn.btn-primary(ng-click='playerReady()') Other